In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [3]:
data = pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
# Preprocess the data
data = data.drop(['RowNumber','CustomerId','Surname'], axis = 1)

In [5]:
# Encode categorical variables 
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns = onehot_encoder_geo.get_feature_names_out(['Geography']))

In [7]:
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis = 1), geo_encoded_df], axis = 1)

In [9]:
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [10]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis = 1)
y = data['EstimatedSalary']

In [17]:
## Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [18]:
## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [19]:
# Save the encoders and scaler for later use 
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)
    
with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)

In [20]:
import pickle

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

## ANN Regression Problem Statement

In [21]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [24]:
# Build the model
model = Sequential([
    Dense(64, activation = 'relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1) # Output layer for regression  # When we don't apply any activation function the default activation function that is applied is linear activation function. Linear activation function is for regression, which uses the output that we get from the model
])

## Compile the model
model.compile(optimizer = 'adam', loss = 'mean_absolute_error', metrics =['mae'])

model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 64)                832

 dense_7 (Dense)             (None, 32)                2080

 dense_8 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [26]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir = log_dir, histogram_freq = 1)

In [27]:
# Set ip Early Stopping
early_stopping_callback = EarlyStopping(monitor = 'val_loss', patience = 5, restore_best_weights = True)

In [29]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data = (X_test, y_test),
    epochs = 100,
    callbacks = [early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 100383.7578 - mae: 100383.7578 - val_loss: 98538.6406 - val_mae: 98538.6406
Epoch 2/100
250/250 [==============================] - 0s 873us/step - loss: 99700.6484 - mae: 99700.6484 - val_loss: 97149.5938 - val_mae: 97149.5938
Epoch 3/100
250/250 [==============================] - 0s 833us/step - loss: 97274.0391 - mae: 97274.0391 - val_loss: 93573.7422 - val_mae: 93573.7422
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 92463.3828 - mae: 92463.3828 - val_loss: 87547.6875 - val_mae: 87547.6875
Epoch 5/100
250/250 [==============================] - 0s 925us/step - loss: 85356.6953 - mae: 85356.6953 - val_loss: 79588.0234 - val_mae: 79588.0234
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 76799.7578 - mae: 76799.7578 - val_loss: 70989.6641 - val_mae: 70989.6641
Epoch 7/100
250/250 [==============================] - 0s 999us/step - loss: 68153.0938 - mae: 68153.0938 - val_loss: 63284.5000 - val_mae: 63284.5000
Epoch 8/100
250/250 [==============================] - 0s 956us/step - loss: 60865.7969 - mae: 60865.7969 - val_loss: 57388.8086 - val_mae: 57388.8086
Epoch 9/100
250/250 [==============================] - 0s 902us/step - loss: 55741.7109 - mae: 55741.7109 - val_loss: 53683.6680 - val_mae: 53683.6680
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 52738.0234 - mae: 52738.0234 - val_loss: 51885.8984 - val_mae: 51885.8984
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 51320.0625 - mae: 51320.0625 - val_loss: 51207.4258 - val_mae: 51207.4258
Epoch 12/100
250/250 [==============================] - 0s 891us/step - loss: 50726.1172 - mae: 50726.1172 - val_loss: 50978.7461 - val_mae: 50978.7461
Epoch 13/100
250/250 [==============================] - 0s 955us/step - loss: 50474.1055 - mae: 50474.1055 - val_loss: 50902.0781 - val_mae: 50902.0781
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 50354.5273 - mae: 50354.5273 - val_loss: 50849.4844 - val_mae: 50849.4844
Epoch 15/100
250/250 [==============================] - 0s 986us/step - loss: 50271.6641 - mae: 50271.6641 - val_loss: 50805.0469 - val_mae: 50805.0469
Epoch 16/100
250/250 [==============================] - 0s 847us/step - loss: 50204.5859 - mae: 50204.5859 - val_loss: 50767.6523 - val_mae: 50767.6523
Epoch 17/100
250/250 [==============================] - 0s 853us/step - loss: 50149.1094 - mae: 50149.1094 - val_loss: 50727.9688 - val_mae: 50727.9688
Epoch 18/100
250/250 [==============================] - 0s 825us/step - loss: 50095.6445 - mae: 50095.6445 - val_loss: 50698.3125 - val_mae: 50698.3125
Epoch 19/100
250/250 [==============================] - 0s 829us/step - loss: 50052.8711 - mae: 50052.8711 - val_loss: 50670.6992 - val_mae: 50670.6992
Epoch 20/100
250/250 [==============================] - 0s 825us/step - loss: 50009.4102 - mae: 50009.4102 - val_loss: 50643.9258 - val_mae: 50643.9258
Epoch 21/100
250/250 [==============================] - 0s 821us/step - loss: 49972.9453 - mae: 49972.9453 - val_loss: 50613.6406 - val_mae: 50613.6406
Epoch 22/100
250/250 [==============================] - 0s 820us/step - loss: 49937.5664 - mae: 49937.5664 - val_loss: 50588.4883 - val_mae: 50588.4883
Epoch 23/100
250/250 [==============================] - 0s 830us/step - loss: 49908.0469 - mae: 49908.0469 - val_loss: 50567.6836 - val_mae: 50567.6836
Epoch 24/100
250/250 [==============================] - 0s 827us/step - loss: 49877.6484 - mae: 49877.6484 - val_loss: 50544.2734 - val_mae: 50544.2734
Epoch 25/100
250/250 [==============================] - 0s 856us/step - loss: 49848.3516 - mae: 49848.3516 - val_loss: 50523.7852 - val_mae: 50523.7852
Epoch 26/100
250/250 [==============================] - 0s 890us/step - loss: 49823.4102 - mae: 49823.4102 - val_loss: 50507.0430 - val_mae: 50507.0430
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 49799.6211 - mae: 49799.6211 - val_loss: 50483.5039 - val_mae: 50483.5039
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 49778.8633 - mae: 49778.8633 - val_loss: 50466.6680 - val_mae: 50466.6680
Epoch 29/100
250/250 [==============================] - 0s 820us/step - loss: 49760.6250 - mae: 49760.6250 - val_loss: 50448.3750 - val_mae: 50448.3750
Epoch 30/100
250/250 [==============================] - 0s 818us/step - loss: 49740.7305 - mae: 49740.7305 - val_loss: 50443.2188 - val_mae: 50443.2188
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 49722.9805 - mae: 49722.9805 - val_loss: 50424.2344 - val_mae: 50424.2344
Epoch 32/100
250/250 [==============================] - 0s 817us/step - loss: 49702.2227 - mae: 49702.2227 - val_loss: 50413.0938 - val_mae: 50413.0938
Epoch 33/100
250/250 [==============================] - 0s 836us/step - loss: 49689.4336 - mae: 49689.4336 - val_loss: 50399.3164 - val_mae: 50399.3164
Epoch 34/100
250/250 [==============================] - 0s 817us/step - loss: 49675.4023 - mae: 49675.4023 - val_loss: 50384.3086 - val_mae: 50384.3086
Epoch 35/100
250/250 [==============================] - 0s 812us/step - loss: 49658.1016 - mae: 49658.1016 - val_loss: 50379.2930 - val_mae: 50379.2930
Epoch 36/100
250/250 [==============================] - 0s 976us/step - loss: 49645.2188 - mae: 49645.2188 - val_loss: 50368.5898 - val_mae: 50368.5898
Epoch 37/100
250/250 [==============================] - 0s 886us/step - loss: 49631.9102 - mae: 49631.9102 - val_loss: 50359.1797 - val_mae: 50359.1797
Epoch 38/100
250/250 [==============================] - 0s 911us/step - loss: 49614.8242 - mae: 49614.8242 - val_loss: 50359.1641 - val_mae: 50359.1641
Epoch 39/100
250/250 [==============================] - 0s 833us/step - loss: 49601.4336 - mae: 49601.4336 - val_loss: 50347.1953 - val_mae: 50347.1953
Epoch 40/100
250/250 [==============================] - 0s 819us/step - loss: 49591.3086 - mae: 49591.3086 - val_loss: 50341.5391 - val_mae: 50341.5391
Epoch 41/100
250/250 [==============================] - 0s 811us/step - loss: 49577.6797 - mae: 49577.6797 - val_loss: 50349.1016 - val_mae: 50349.1016
Epoch 42/100
250/250 [==============================] - 0s 827us/step - loss: 49569.7734 - mae: 49569.7734 - val_loss: 50344.1602 - val_mae: 50344.1602
Epoch 43/100
250/250 [==============================] - 0s 843us/step - loss: 49555.5156 - mae: 49555.5156 - val_loss: 50329.2266 - val_mae: 50329.2266
Epoch 44/100
250/250 [==============================] - 0s 822us/step - loss: 49546.0508 - mae: 49546.0508 - val_loss: 50328.3789 - val_mae: 50328.3789
Epoch 45/100
250/250 [==============================] - 0s 821us/step - loss: 49535.0898 - mae: 49535.0898 - val_loss: 50323.2891 - val_mae: 50323.2891
Epoch 46/100
250/250 [==============================] - 0s 814us/step - loss: 49524.2734 - mae: 49524.2734 - val_loss: 50321.9297 - val_mae: 50321.9297
Epoch 47/100
250/250 [==============================] - 0s 945us/step - loss: 49515.0352 - mae: 49515.0352 - val_loss: 50323.1289 - val_mae: 50323.1289
Epoch 48/100
250/250 [==============================] - 0s 860us/step - loss: 49506.2109 - mae: 49506.2109 - val_loss: 50322.2422 - val_mae: 50322.2422
Epoch 49/100
250/250 [==============================] - 0s 835us/step - loss: 49497.0664 - mae: 49497.0664 - val_loss: 50327.0977 - val_mae: 50327.0977
Epoch 50/100
250/250 [==============================] - 0s 817us/step - loss: 49486.3164 - mae: 49486.3164 - val_loss: 50327.8750 - val_mae: 50327.8750
Epoch 51/100
250/250 [==============================] - 0s 832us/step - loss: 49479.2617 - mae: 49479.2617 - val_loss: 50333.7812 - val_mae: 50333.7812

In [30]:
%load_ext tensorboard

In [33]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 63335), started 0:00:19 ago. (Use '!kill 63335' to kill it.)

In [34]:
## Evaluate the model on test data
testloss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 491us/step - loss: 50321.9297 - mae: 50321.9297
Test MAE : 50321.9296875

In [35]:
model.save('regression_model.h5')

/Users/vibhupratap/Documents/Projects/Churn_Modelling_Project-ANN-/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(